<!DOCTYPE html>
<html>
    <head>
        <title>Add datasets</title>
        <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <!-- <link rel='stylesheet' href='/stylesheets/style.css'/>
            <link rel="stylesheet" href="/stylesheets/viewexperiment.css"> -->
            <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

  <body>
    <div class="container">
        <!-- Navigation Bar -->
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home">Home </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="form logout-link" id="form" method="POST" action="/logout">
                                    <a href="/logout"
                                        onclick="document.getElementById('form').submit(); return false;"></span>
                                        Logout</a> 
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="content-container">
            <!-- progress bar -->
            <div class="progress-container">
                <div class="progress-track"></div>
                <div class="progress-track-completed step4"></div>
                <div class="complete-bullet"></div>
                <div class="complete-text">
                    <span class="step-text">Complete</span>
                </div>
                <div id="step1" class="progress-step-complete">
                    <span class="step-text">Choose model</span>
                </div>
                <div id="step2" class="progress-step-complete">
                    <span class="step-text">Select data</span>
                </div>
                <div id="step3" class="progress-step-complete">
                    <span class="step-text">Customize inputs</span>
                </div>
                <div id="step4" class="progress-step-complete">
                    <span class="step-text">Name+train</span>
                </div>
            </div>
            <h1 class="step-title">4. Name and train your model </h1>
            <div class="step-container">
                <h4 class="step-directions">Name and train your model</h4>
                <form class="name-model-form" method="POST" action="/nameModel" >
                    <label for="modelName">name of your model</label><br>
                    <input type="text" class="form-control" placeholder="name of your model" name="modelName" required autofocus>
                    <br>
                    <button class="name-model-submit-button btn btn-lg btn-primary btn-block" type="submit">
                        submit and train your model
                    </button>
                </form>
            </div>
            <div class="footer-nav">
                <a href="/params">
                    <button class="nav-button">
                        Prev
                    </button>
                </a>
                    <!-- <a href="/nameModel">
                        <button class="nav-button next-button">
                            Next
                        </button>
                    </a> -->
            </div>
        </div>
    </div>
    <!-- <br>
    <a href="/params">Go back to customize input</a> -->
  </body>

</html>