<!DOCTYPE html>
<html>
    <head>
        <title>Add datasets</title>
        <link
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <!-- <link rel='stylesheet' href='/stylesheets/style.css'/>
            <link rel="stylesheet" href="/stylesheets/viewexperiment.css"> -->
    </head>

  <body>
    <div class="container">
        <!-- Navigation Bar -->
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home">Home </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="form" id="form" method="POST" action="/logout">
                                    <a href="/logout"
                                        onclick="document.getElementById('form').submit(); return false;"></span>
                                        Logout</a> 
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <br>
        <br>
        <div class="container">
            <h1 class="text-center login-title">Step 4. Name and train your model </h1>
            <form class="form" method="POST" action="/nameModel" >
                <label for="modelName">name of your model</label><br>
                <input type="text" class="form-control" placeholder="name of your model" name="modelName" required autofocus>
                <br>
                <button class="new-category-button btn-primary " type="submit">
                    submit
                </button>
            </form>
        </div>
    </div>
    <br>
    <a href="/params">Go back to customize input</a>
  </body>

</html>