body {
    background-color: #40587d;
}

.navbar {
    background-color: #ffffff;
}

.logout-link {
    margin-top: 15px;
}

.step-title {
    color: #ffffff;
    /* text-align: center; */
    margin: 3rem 0 1rem 0;
}

.add-categories {
    display: flex;
    flex-direction: column;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}

.category-item {
    width: 33%;
}

.category-item-button {
    border: none;
    background-color: transparent;
    font-size: 1.75rem;
}

.category-item-icon {
    padding-top: 5px;
}

.category-item-text {
    padding-bottom: 5px;
    background-color: transparent;
    text-decoration: underline;
    color: #428bca;
}

.category-item-text:hover {
    color: #ffbf00
}

.new-category-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    /* margin-left: .5rem;
    margin-right: .5rem; */
}
  
.new-category-input {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 75%;
    padding-left: 10px;
    border: 1px solid rgb(238, 238, 238);
    /* box-sizing: border-box; */
}
  
.new-category-button {
    font-size: 1.5rem;
    line-height: 3rem;
    border: 1px solid #428bca;
    border: 0;
    background-color: #428bca;
    color: #ffffff;
    width: 25%;
}

.selected-category-text {
    margin-top: 2rem;
}

.selected-category {
    font-weight: 800;
}

.choose-files-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}




/* footer nav */
.footer-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}

.nav-button {
    font-size: 2rem;
    background-color: #ffffff;
    border-radius: 4px;
    /* background-color: rgb(245, 245, 245); */
    /* border: 1px solid rgb(227, 227, 227); */
    border: 1px solid #777777;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-button:hover {
    background-color: rgb(66, 139, 202);
    color: #ffffff;
    border: 1px solid rgb(66, 139, 202);
}

.next-button {
    margin-left: 1.5rem;
}

.content-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.step-container {
    background-color: #ffffff;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.step-directions {
    text-align: center;
}

.step-directions-upload {
    text-align: left;
}

/* 1. select model styling */

.model-type-button-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.model-type-button-container input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.model-type-button-container input[type="radio"]:checked + label {
    background:yellow;
}

.model-type-button-form {
    margin-left: auto;
    margin-right: auto;
}

.model-type-button {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: .5rem;
    background-color: #cee6ff;
    /* background-color: rgb(245, 245, 245); */
    /* border: 5px solid #000067; */
    border-radius: 2px;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #000;
}

.model-type-button:hover {
    outline: 3px solid #ffbf00;
    box-sizing: border-box;
    background-color:  #cee6ff;
    color: #000;
}

.model-type-button-selected {
    outline: 3px solid #ffbf00;
    box-sizing: border-box;
    background-color:  #cee6ff;
    color: #000;
}

.model-type-button-name {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.model-type-button-description {
    font-size: 1.65rem;
}

.select-category-text {
    font-weight: 400;
}

.upload-steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .upload-container-inputs {
    display: flex;
    flex-direction: column;

} */

.required-field{
    color: #b30000;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-grow: 1;
}

/* .upload-files-button {

    flex-grow: 1;
} */

.params-content {
    text-align: center;
}

.params-form {
    max-width: 400px;
    margin: 3rem auto 1rem auto;   
    text-align: left;
}

.params-submit-button {
    max-width: 400px;
    margin: auto;
}

.name-model-form {
    max-width: 400px;
    margin: 3rem auto 1rem auto;  
}

/* Progress Bar */

.progress-container {
    position: relative;
    display: flex;

}

.progress-track {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 5px;
    background-color: #dfe3e4;
    z-index: 5;
}

.complete-bullet {
    position: absolute;
    right: 0%;
    content: "";
    display: flex;      
    margin: 0;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    background: #40587d; 
    border: 4px solid #e7e7e7;
    border-radius: 100%;
    color: #2183dd;
    z-index: 10;   
}

.complete-text {
    position: absolute;
    right: 0%;
    top: 25px;
    z-index: 10;
    font-size: 12px;
    color: #e7e7e7;
}

.progress-track-completed {
    position: absolute;
    top: 5px;
    height: 5px;
    background-color: #ffbf00;
    z-index: 5;
}

.step1 {
    width: 0%;
}

.step2 {
    width: 25%;
}

.step3 {
    width: 50%;
}

.step4 {
    width: 75%;
}

.progress-step, .progress-step-complete {
    /* margin-top: 2px; */
    position: relative;
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #e7e7e7;
    z-index: 10
}

.progress-step::before {
    content: "";
    display: flex;      
    margin: 0;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    background: #40587d; 
    border: 4px solid #e7e7e7;
    border-radius: 100%;
    color: #2183dd;      
}

.progress-step-complete::before {
    content: "";
    display: flex;      
    margin: 0;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    background: #40587d; 
    border: 4px solid #ffbf00;
    border-radius: 100%;
    color: #2183dd;      
}

.display-none {
    display: none;
}